.main-container,
h1,
.selection-container,
.selection,
.sketch-container,
.square-container {
    border: 1px solid red;
}

.main-container {
    width: 100%;
}

h1 {
    text-align: center;
}

.sketch-container {
    display: flex;
    justify-content: center;
}

.square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.cell-container {
    display: flex;
}

.squares {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}