.main-container,
h1,
.selection-container,
.selection,
.sketch-container,
.square-container {
    border: 1px solid red;
}

/* .main-container {
    width: 100%;
} */

h1 {
    text-align: center;
}

.sketch-container {
    display: flex;
    justify-content: center;
}

.square-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 900px;
}

.cell-container {
    display: flex;
    flex: 1;
}

.squares {
    flex: 1;
    border: 1px solid black;
}